body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

canvas {
    border: 1px solid black;
    width: 50vw;
    min-height: 100vh;
    background-color: lightgray;
}

.container {
    margin: 1rem;
}

.tools {
    display: flex;
    gap: 1em;
}

button {
    min-width: 7em;
}

.container-object {
    display: flex;
    flex-direction: column;
}

.shape {
    margin: 0;
}

.point {
    margin-left: 5%;
}